
        <div>
            <form action="/search" method="post">
              <div class="form-group">
                <input type="text" class="form-control" name="searchword" placeholder="Enter book or author name">
              </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
    
          <div>
            <h1> Search Results</h1>
            <p>{{ message }}</p>
                <table border = 1>
              <tr>
                   <th> title</th>
                </tr>
             {% for res in result %}
                <tr>
                  <td><a href="{{ ''.join(['/books?isbn=', res.isbn])}}">{{ res.title }}</a></td>
                </tr>
             {% endfor %}
          </table>
        </div>
        <div>
          <!-- Book Details should be rendered here... -->
        </div>
    