<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

        </div>
    </div>
    <a href="/logout"
        class="HeaderMenu-link d-inline-block no-underline border border-gray-dark rounded-1 px-2 py-1"
        data-hydro-click="{&quot;event_type&quot;:&quot;authentication.click&quot;,&quot;payload&quot;:{&quot;location_in_page&quot;:&quot;site header menu&quot;,&quot;repository_id&quot;:null,&quot;auth_type&quot;:&quot;SIGN_UP&quot;,&quot;originating_url&quot;:&quot;https://github.com/join?source=header-home&quot;,&quot;user_id&quot;:null}}" data-hydro-click-hmac="4162ee8c3289191650555b33b14b28add5002451e4ed34b94a7a5bc7c4a828e3"
        data-ga-click="(Logged out) Header, clicked Sign up, text:sign-up">
        Sign&nbsp;out
    </a>

     <form action="/search" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="searchword" placeholder="Enter book or author name">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>>
</nav>